body {
  font-family: Fira Sans;
  margin-left: 6.5%;
  margin-right: 6.5%;
  padding: 0;
}

.nav {
  background-color: rgb(245, 245, 245);
  color: rgb(14, 14, 14);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .nav h1 {
  margin-left: 7%;
} */

.sign-in {
  background-color: #fff;
  color: #007bff;
  padding: 2px 20px;
  border-radius: 5px;
}

.sign-in button {
  padding: 15px 30px 15px 30px;
  color: rgb(0, 106, 80);
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 7px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.hero {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 64;
  padding: 80px 100px 80px 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 80px 0px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
}

.two {
  color: rgba(14, 14, 14, 0.5);

  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.text {
  color: rgb(14, 14, 14);

  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
}

.explore button {
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 17px 34px 17px 34px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border-color: transparent;
}

.explore button:hover {
  background: rgb(8, 86, 66);
}

.pillar-of-bd h2 {
  margin-bottom: 80px;
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.pillars {
  display: flex;
}

.pillar-content {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin-right: 24px;
  padding: 24px;
}

.the-vision h2 {
  margin-bottom: 32px;
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.the-vision p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}

.visions {
  display: flex;
}

.vision-content1 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin-right: 24px;
  padding: 32px;
  background: rgba(21, 86, 198, 0.2);
  border: transparent;
}

.vision-content1 button {
  border-radius: 8px;
  background: rgb(84, 144, 245);
  padding: 11px 20px 11px 20px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  border: transparent;
}

.vision-content2 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin-right: 24px;
  padding: 32px;
  background: rgb(198, 228, 214);
  border: transparent;
}

.vision-content2 button {
  border-radius: 8px;
  background: rgb(9, 161, 92);
  padding: 11px 20px 11px 20px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  border: transparent;
}

.vision-content3 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin-right: 24px;
  padding: 32px;
  background: rgb(247, 235, 207);
  border: transparent;
}

.vision-content3 button {
  border-radius: 8px;
  background: rgb(255, 194, 57);
  padding: 11px 20px 11px 20px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  border: transparent;
}

.quote {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 48px 24px 0 24px;
  background-image: url(assets/quote-bg.png);
  background-repeat: no-repeat;
  padding-top: 10px;
}

.chief h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0 24px 0 24px;
}

.chief p {
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0 24px 48px 24px;
}

.op {
  margin-top: 80px;
  margin-left: 20px;
}

.opinion-table {
  width: 98%;
  border-collapse: collapse;
  margin: 25px 0;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.opinion-table thead tr {
  background-color: rgb(198, 228, 214);
  color: rgb(14, 14, 14);
  text-align: center;
}

.opinion-table th,
.opinion-table td {
  padding: 25px;
  border: transparent;
}

.opinion-table select {
  box-sizing: border-box;
  border: transparent;
  border-radius: 4px;
  padding: 10px;
  background: rgb(198, 228, 214);
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.recent-news h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.recent-news p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.news-sec {
  margin-left: 2%;
  margin-right: 2%;
}

.news-cont {
  display: flex;
  padding-top: 48px;
}


.image img {
  border-radius: 24px;
  margin-right: 20px;
}

.image2 img {
  border-radius: 24px;
  margin-left: 20px;
}

.sat-news h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(14, 14, 14, 0.8)
}

.sat-news p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}


.sat-news button {
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 11px 20px 11px 20px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  border: transparent;
}